.book {
  margin: 40px 40px;
}

.book h2 {
  margin-bottom: 30px;
}

.book-card {
  display: flex;
  margin-top: 30px;
  flex-wrap: wrap;
}

.b-card {
  border-radius: 5%;
  border: solid rgb(243, 243, 243);
  padding: 20px 0;
  box-shadow: 0px 4px 10px 0px rgb(158, 158, 158);
  margin: 20px;
  width: 30%;
}

.b-card h4 {
  margin-bottom: 20px;
}

.b-image img {
  width: 90%;
  margin-bottom: 10px;
  border-radius: 1%;
  transition: 0.3s ease-in-out;
  overflow: hidden;
}
.b-image:hover img {
  cursor: pointer;
  transform: scale(1.1);
}
.book p {
  margin: 5%;
}

@media screen and (max-width: 850px) {
  .book-card {
    display: flex;
    flex-direction: column;
  }
  .b-card {
    margin-bottom: 20px;
    width: 100%;
  }
}
