* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
#navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 229, 190);
  padding: 20px 80px;
}

#navbar li {
  list-style-type: none;
  position: relative;
  padding: 0 40px;
}
#navbar li a {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  color: #2f64e8;
}

3navbar li a:hover {
  color: white;
  transition: 0.2s ease-in-out;
}

.mobile {
  display: none;
}

@media screen and (max-width: 769px) {
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    position: fixed;
    top: 75px;
    right: -280px;
    width: 280px;
    height: 250px;
    background-color: #ffebcc;
    padding-top: 50px;
  }
  #navbar.active {
    right: 0;
    transition: 0.3s ease-in-out;
  }
  .mobile {
    display: block;
  }
  #navbar li {
    margin-bottom: 20px;
  }

  .mobile i {
    font-size: 24px;
    cursor: pointer;
  }
}
